@using Entities.DTOs.VehicleReportDtos;
@using Entities.DTOs.VehicleSupplyDtos;
@model VehicleUpdateDto
@{
    ViewData["Title"] = "Elana dəyişiklik et";
    var reports = ViewBag.Reports as List<VehicleReportGetDto>;
    var reportEquals = reports.IntersectBy(Model.getDto.Reports.Select(x => x.Id), x => x.Id);
    var reportExcepts = reports.ExceptBy(Model.getDto.Reports.Select(x => x.Id), x => x.Id);

    var supplies = ViewBag.Supplies as List<VehicleSupplyGetDto>;
    var supplyEquals = supplies.IntersectBy(Model.getDto.Supplies.Select(x => x.Id), x => x.Id); ;
    var supplyExcepts = supplies.ExceptBy(Model.getDto.Supplies.Select(x => x.Id), x => x.Id); ;
}

<div class="pt-3 pb-3" style="background-color:#F1F3F7">
    <h4 class="ms-4">@Model.getDto.Model.Make.Name @Model.getDto.Model.Name</h4>
</div>
<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
    <input hidden asp-for="getDto.Id" />
    <div class="row">
        <div class="col-7 mt-3">
            <div id="main-slider" class="splide">
                <div class="splide__track">
                    <ul class="splide__list">
                        @foreach (var item in Model.getDto.Images)
                        {
                            <li class="splide__slide">
                                <img src="~/assets/images/vehicle-images/@item.Path" />
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <ul id="thumbnails" class="thumbnails" style="list-style:none">
                @if (Model.getDto.Images.Any(x => x.isMain))
                {
                    <li class="main-img me-5" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <img src="~/assets/images/vehicle-images/@Model.getDto.Images.FirstOrDefault(x=>x.isMain).Path" /><input hidden asp-for="MainImageId" value="@Model.getDto.Images.FirstOrDefault(x=>x.isMain).Id" />
                    </li>
                    <li class="thumbnail">
                        <img id="drags" src="~/assets/images/vehicle-images/@Model.getDto.Images.FirstOrDefault(x=>x.isMain).Path" draggable="true" ondragstart="drag(event)" data-id="@Model.getDto.Images.FirstOrDefault(x=>x.isMain).Id" />
                        <input hidden asp-for="ImageIds" value="@Model.getDto.Images.FirstOrDefault(x=>x.isMain).Id">
                    </li>
                }
                @foreach (var item in Model.getDto.Images.Where(x => !x.isMain))
                {
                    <li class="thumbnail">
                        <img id="drags" src="~/assets/images/vehicle-images/@item.Path" draggable="true" ondragstart="drag(event)" data-id="@item.Id" />
                        <input hidden asp-for="ImageIds" value="@item.Id">
                    </li>
                }
            </ul>

        </div>
        <div class="col-5 mt-3">
            <div class="product-sidebar js-sticky-sidebar  shadow p-3 pb-4" style="background-color:#F1F3F7">
                <div class="product-sidebar__box">
                    <div class="product-price">
                        <div class="product-price d-flex ">
                            <input asp-for="Price" value="@Model.getDto.Price" min="500" class=me-2 />
                            <select class="form-control form-control-sm" style="width: 5rem" asp-for="CurrencyId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.Currencies)
                                {
                                    @if (item.Id == Model.getDto.CurrencyId)
                                    {
                                        <option value="@item.Id" checked>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between mt-4 mb-4">
                        <div>
                            <div class="owner-name" style="font-size:18px">@Model.getDto.OwnerName</div>
                            <div class="product-city">
                            </div>
                        </div>
                        <div class="rounded-circle p-3">
                            <i class="fa-solid fa-user fa-2xl"></i>
                        </div>
                    </div>
                    <div class="text-center">
                        <a class="btn btn-lg btn-success" href="tel: +994 @Model.getDto.PhoneNumber.Number">+994 @Model.getDto.PhoneNumber.Number <i class="fa-solid fa-phone-flip"></i></a>
                    </div>
                </div>
            </div>
            <div class="renew-date mt-3 shadow p-3" style="background-color:#F1F3F7">
                <p class="m-0">Yeniləndi: @Model.getDto.CreatedDate.Value.ToString("dd MM yyy ")</p>
                @if (@Model.getDto.ExpiredDate is not null)
                {
                    <p class="m-0">Bitmə tarixi: @Model.getDto.ExpiredDate.Value.ToString("dd MM yyy ")</p>
                }
            </div>
            <div>
                <div class="shadow p-3">
                    <label class="form-label mt-3" style="font-size: 1rem; font-weight: bold;">Yeni şəkil əlavə et</label>
                    <input type="file" class="form-control" asp-for="formFiles" multiple />
                    <span asp-validation-for="formFiles" class="text text-danger"></span>
                </div>
            </div>
        </div>
    </div>

    <div class="product-spesifications shadow p-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div class="d-flex align-items-center text-danger">
                    <i class="fa-solid fa-road fa-2xl"></i>
                </div>
                <div class="ms-2">
                    <p class="spesis m-0">Odometr</p>
                    <p class="spes-text m-0 d-flex">
                        <input asp-for="Milage" value="@Model.getDto.Milage" style="width: 5rem" />
                        <select class="form-control form-control-sm" style="width: 4rem" asp-for="MileageTypeId"
                                onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                            @foreach (var item in ViewBag.MileageTypes)
                            {
                                @if (item.Id == Model.getDto.MileageTypeId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </p>
                </div>
            </div>

            <div class="d-flex ">
                <div class="d-flex align-items-center">
                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAACXBIWXMAAAsTAAALEwEAmpwYAAACVElEQVR4nO2a0WoUMRSGcyVYbe9ae69YsAjeFl+gSrud85fctX2Aeu12QRAE30QfQx9A1yLoFgtdfYNeqC27Ob2IRLfYhpmdwUxmY/d8EFg2828m/yYnMzlRShAEQRAEQRAqYbe2bjDRniHqGqKTUeky0HZ1qeuDGGq9xETfGLC5hejrMMvupqoPwq6uzjHQL2z8b+nbVms2NX0wDHQqNH7+T+ylpq/DgH2vkVdW63lX3GfvJj6kpg/GAKcXG7Hr67fO66zWixfrXGBKTV+/AVovBnWgYX0wnDcEiRZcYeC1dwPd1PR1GNCpHISAdmr6YGyrNVt5GdL6Zmr6WhhofYeJemMa/zzIstuR9YeFeqIv7hoVE6v1NUO04zdugG1X14D+OhM9yen8rqtTTcHeDfxv+mBYDICMAJYpAIkBLEEQsgqwLIOYeJn4cwCLAZARwNM8BVTD+onDYgBkBLBMATQeA/ICoCH6aYC3Z8BjddVjAJesBobohZpmAxiwZ1n2SE2zAYbojYqFLdrUJNoJ2hStqM8zjrNsxfut7yoGgz/b0geF7hP1xm1Lh+oLDQAeRn+wsonk96tMgSgGcCL5/QraXpWp9C8G7KeQ3y8Jfsdmc3NZxcAkkt8v+fePonQ+pfx+Tsc/XtJubDxQMeBE8vs5BjzztC9jGdBJIb/vX/v76NxlYw+jGGATye/714++++RNg/tRTBiWHVQE+kEHHUv0Ywx43tgLkXVHVYG2Ad6PXkN/GOAdA0/t2tpMbH2eAUOt73nT4KCu/gqCIAiCIAjqivIL/kmQL/dNWjgAAAAASUVORK5CYII=">
                </div>
                <div class="ms-2">
                    <p class="spesis m-0">Sürət qutusu</p>
                    <p class="spes-text m-0">
                        <select class="form-control form-control-sm" style="width: 5rem" asp-for="GearBoxId"
                                onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                            @foreach (var item in ViewBag.GearBoxes)
                            {
                                @if (item.Id == Model.getDto.GearBoxId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </p>
                </div>
            </div>

            <div class="d-flex">
                <div class="d-flex align-items-center text-danger">
                    <i class="fa-solid fa-gas-pump fa-2xl"></i>
                </div>
                <div class="ms-2">
                    <p class="spesis m-0">Yanacaq</p>
                    <p class="spes-text m-0">
                        <select class="form-control form-control-sm" style="width: 5rem" asp-for="FuelId"
                                onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                            @foreach (var item in ViewBag.Fuels)
                            {
                                @if (item.Id == Model.getDto.FuelId)
                                {
                                    <option value="@item.Id" selected>@item.Name</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            }
                        </select>
                    </p>
                </div>
            </div>

            <div class="d-flex">
                <div class="d-flex align-items-center text-danger">
                    <i class="fa-regular fa-calendar-days fa-2xl"></i>
                </div>
                <div class="ms-2">
                    <p class="spesis m-0">İl</p>
                    <p class="spes-text m-0">
                        <select class="form-control form-control-sm" style="width: 5rem" asp-for="YearId"
                                onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                            @foreach (var item in ViewBag.Years)
                            {
                                @if (item.Id == Model.getDto.YearId)
                                {
                                    <option value="@item.Id" selected>@item.Value</option>
                                }
                                else
                                {
                                    <option value="@item.Id">@item.Value</option>
                                }
                            }
                        </select>
                    </p>
                </div>
            </div>

            <div class="d-flex ">
                <div class="d-flex align-items-center text-danger">
                    <i class="fa-solid fa-car-side fa-2xl"></i>
                </div>
                <div class="ms-2">
                    <p class="spesis m-0">Vəziyyəti</p>
                    <p class="spes-text m-0">
                        @foreach (var item in reportEquals)
                        {
                            <div>
                                <input class="form-check-input" type="checkbox" name="ReportIds" value="@item.Id" checked>
                                <label class="form-check-label" asp-for="ReportIds">
                                    @item.Name
                                </label>
                            </div>
                        }
                        @foreach (var item in reportExcepts)
                        {
                            <div>
                                <input class="form-check-input" type="checkbox" name="ReportIds" value="@item.Id">
                                <label class="form-check-label" asp-for="ReportIds">
                                    @item.Name
                                </label>
                            </div>
                        }
                    </p>
                </div>
            </div>

        </div>
        <div class="mt-4">
            <div class="mb-3">
                <h6>Təchizatları</h6>
            </div>
            <div class="d-flex">
                @foreach (var item in supplyEquals)
                {
                    <div class="me-2">
                        <input class="form-check-input" type="checkbox" name="SupplyIds" value="@item.Id" checked>
                        <label class="form-check-label" asp-for="SupplyIds">
                            @item.Name
                        </label>
                    </div>
                }
                @foreach (var item in supplyExcepts)
                {
                    <div class="me-2">
                        <input class="form-check-input" type="checkbox" name="SupplyIds" value="@item.Id">
                        <label class="form-check-label" asp-for="SupplyIds">
                            @item.Name
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="full-details shadow p-4 pt-5">
        <div>
            <h4>Full Detallar</h4>
        </div>
        <div>
            <table class="table table-striped table-hover mt-2">
                <tbody>
                    <tr>
                        <th scope="row">Ban növü</th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm m-0" style="width: 7rem" asp-for="BanId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.Bans)
                                {
                                    @if (item.Id == Model.getDto.BanId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        <th scope="row">Yığıldığı bazar </th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm m-0" style="width: 10rem" asp-for="CountryId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.Countries)
                                {
                                    @if (item.Id == Model.getDto.CountryId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Mühərrik həcmi</th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm m-0" style="width: 7rem" asp-for="EngineCapacityId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.EngineCapacities)
                                {
                                    @if (item.Id == Model.getDto.EngineCapacityId)
                                    {
                                        <option value="@item.Id" selected>@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Value</option>
                                    }
                                }
                            </select>
                        </td>
                        <th scope="row">Rəng</th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm m-0" style="width: 7rem" asp-for="ColorId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.Colors)
                                {
                                    @if (item.Id == Model.getDto.ColorId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Mühərrik gücü</th>
                        <td style="width: 20rem;text-align: start;">
                            <input asp-for="EnginePower" value="@Model.getDto.EnginePower" style="width: 7rem" />
                        </td>
                        <th scope="row">Şəhər</th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm" style="width: 10rem" asp-for="CityId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.Cities)
                                {
                                    @if (item.Id == Model.getDto.CityId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ötürücü</th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm" style="width: 7rem" asp-for="DriveTrainId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.DriveTrains)
                                {
                                    @if (item.Id == Model.getDto.DriveTrainId)
                                    {
                                        <option value="@item.Id" selected>@item.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                }
                            </select>
                        </td>
                        <th scope="row">Kreditdədir</th>
                        <td style="width: 20rem;text-align: start;">
                            <input class="form-check-input" type="checkbox" asp-for="isCredit">
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Oturacaq sayı</th>
                        <td style="width: 20rem;text-align: center;">
                            <select class="form-control form-control-sm" style="width: 7rem" asp-for="SeatId"
                                    onmousedown="if(this.options.length>10){this.size=10;}" onchange="this.size=0;" onblur="this.size=0;">
                                @foreach (var item in ViewBag.Seats)
                                {
                                    @if (item.Id == Model.getDto.SeatId)
                                    {
                                        <option value="@item.Id" selected>@item.Value</option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">@item.Value</option>
                                    }
                                }
                            </select>
                        </td>
                        <th scope="row">Barter mümkündür</th>
                        <td style="width: 20rem;text-align: start;">
                            <input class="form-check-input" type="checkbox" asp-for="isBarter">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr />
        <div>
            <h4>Məlumat</h4>
            <input class="mt-2 form-control" asp-for="Description" value="@Model.getDto.Description">
        </div>
    </div>

    <div class="mt-4 d-flex justify-content-between">
        <div>
            <button type="submit" class="btn btn-warning me-3">Yoxlamaya göndər</button>
            <a asp-controller="vehicle" asp-action="details" asp-route-id="@Model.getDto.Id" class="btn btn-outline-danger">Imtina et</a>
        </div>
        <div>
            <a class="me-5 text-danger" style="text-decoration:none">Elanı sil</a>
            Elanın nömrəsi : <span>@Model.getDto.Id</span>
        </div>
    </div>
</form>