@model VehicleGetDto

<div class="card-body d-flex pb-0">

    <div class="mt-5">
        <div class="me-4 d-flex justify-content-between" style="position: relative;">

            <div style="position: absolute;left: 0;top: 50%;">
                <button class="minusDiv btn btn-sm btn-secondary rounded-circle">&#10094;</button>
            </div>

            @foreach (var item in Model.Images)
            {
                if (item.isMain)
                {
                    <div class="imgDivs" style="display:block">
                        <img class="myImg" style="width: 300px; height: 270px;"
                     src="~/assets/images/vehicle-images/@item.Path" />
                    </div>
                }
                else
                {
                    <div class="imgDivs" style="display:none">
                        <img class="myImg" style="width: 300px; height: 270px;"
                     src="~/assets/images/vehicle-images/@item.Path" />
                    </div>
                }
            }

            <div style="position: absolute;right: 0;top: 50%;">
                <button class="plusDiv btn btn-sm btn-secondary rounded-circle">&#10095;</button>
            </div>

            <div id="myModal" class="modal">
                <span class="close">&times;</span>
                <img id="modal-img" class="modal-content"
                     src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQS2ol73JZj6-IqypxPZXYS3rRiPwKteoD8vezk9QsRdkjt3jEn&usqp=CAU">
            </div>
        </div>
    </div>

    <div>
        <h5 class="card-title"><b>@Model.Model.Make.Name</b> @Model.Model.Name <span class="ms-2">#@Model.Id</span></h5>
        <div class="d-flex">
            <table class="table table-striped table-hover mt-2">
                <tbody>

                    <tr>
                        <th scope="row">Ban növü</th>
                        <td style="width: 20rem;text-align: center;">@Model.Ban.Name</td>
                        <th scope="row">Yanacaq növü</th>
                        <td style="width: 20rem;text-align: center;">@Model.Fuel.Name</td>
                        <th scope="row">VİN</th>
                        <td style="width: 20rem;text-align: center;">@Model.VIN</td>
                    </tr>
                    <tr>
                        <th scope="row">Mühərrik həcmi</th>
                        <td style="width: 20rem;text-align: center;">@Model.EngineCapacity.Value</td>
                        <th scope="row">İl</th>
                        <td style="width: 20rem;text-align: center;">@Model.Year.Value</td>
                        <th scope="row">Email</th>
                        <td style="width: 20rem;text-align: center;">@Model.Email</td>
                    </tr>
                    <tr>
                        <th scope="row">Mühərrik gücü</th>
                        <td style="width: 20rem;text-align: center;">@Model.EnginePower</td>
                        <th scope="row">Rəng</th>
                        <td style="width: 20rem;text-align: center;">@Model.Color.Name</td>
                        <th scope="row">Sahibin adı</th>
                        <td style="width: 20rem;text-align: center;">@Model.OwnerName</td>
                    </tr>
                    <tr>
                        <th scope="row">Ötürücü</th>
                        <td style="width: 20rem;text-align: center;">@Model.DriveTrain.Name</td>
                        <th scope="row">Ölkə </th>
                        <td style="width: 20rem;text-align: center;">@Model.Country.Name</td>
                        <th scope="row">Sahibin nömrəsi</th>
                        <td style="width: 20rem;text-align: center;"><span class="owner-numbers">@Model.PhoneNumber.Number</span></td>
                    </tr>
                    <tr>
                        <th scope="row">Sürət qutusu</th>
                        <td style="width: 20rem;text-align: center;">@Model.GearBox.Name</td>
                        <th scope="row">Şəhər</th>
                        <td style="width: 20rem;text-align: center;">@Model.City.Name @Model.City.Code</td>
                        <th scope="row">Sahib sayı</th>
                        <td style="width: 20rem;text-align: center;">@Model.Owner.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Odometr</th>
                        <td style="width: 20rem;text-align: center;">@Model.Milage</td>
                        <th scope="row">Oturacaq sayı</th>
                        <td style="width: 20rem;text-align: center;">@Model.Seat.Value</td>
                        <th scope="row">Qiyməti</th>
                        <td style="width: 20rem;text-align: center;">@Model.Price @Model.Currency.Name</td>
                    </tr>
                    <tr>
                        <th scope="row">Kreditdədir</th>
                        <td style="width: 20rem;text-align: center;">
                            @if (Model.isCredit)
                            {
                                <span>Bəli</span>
                            }
                            else
                            {
                                <span>Xeyr</span>
                            }
                        </td>
                        <th scope="row">Barter mümkündür</th>
                        <td style="width: 20rem;text-align: center;">
                            @if (Model.isBarter)
                            {
                                <span>Bəli</span>
                            }
                            else
                            {
                                <span>Xeyr</span>
                            }
                        </td>
                        <th scope="row">Vəziyyəti</th>
                        <td style="width: 20rem;text-align: center;">
                            @foreach (var item in Model.Reports)
                            {
                                <span>@item.Name,</span>
                            }
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Təchizatları</th>
                        <td colspan="5" style="width: 20rem;text-align: center;">
                            @foreach (var item in Model.Supplies)
                            {
                                <span>@item.Name,</span>
                            }
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
