@model List<VehicleGetDto>

<div class="cards row">
    @foreach (var item in Model)
    {
        <a asp-controller="vehicle" asp-action="details" asp-route-id="@item.Id" style="text-decoration:none; color:black" class="col-3">
            <div class="car card col-3">
                <div class="car-img">
                    <img src="/assets/images/vehicle-images/@item.Images.FirstOrDefault(x=>x.isMain).Path" style="width: 100%;height: 240px;" alt="">
                </div>
                <div class="info">
                    <h4 class="mt-2">@item.Price @item.Currency.Name</h4>
                    <p>@item.Model.Make.Name @item.Model.Name <br> @item.Year.Value, @item.EngineCapacity.ConvertedValue L, @item.Milage @item.MileageType.Name</p>
                    <span>@item.City.Name, @item.CreatedDate.Value.ToString("dd MM yyy")</span>
                </div>
            </div>
        </a>
    }
</div>